# Datafiles
*.npy
*.xlsx
*.pt
*.pth
*.txt

# Folders
dicoms/
segmentations/


# Ignore all files and folders inside weights
weights/*

# Except for the placeholder files
!weights/.gitkeep
!weights/.gitignore